<h1>Add Transaction</h1>

<form id="form" class="form" action="/add-transaction" method="POST">
  <div class="quantity">
    <input required type="number" name="amount" placeholder="0.00">
  </div>

  {{#if errorMessage}}
    <div class="error-message">{{ errorMessage }}</div>
  {{/if}}

  <div>
    <label for="account">Choose account</label>
    <select name="account" id="account">
      {{#each account}}
        <option value="{{this._id}}">{{this.accName}}</option>
      {{/each}}
  </div>

  <div>
    <input required type="text" name="merchant" placeholder="Add merchant">
    <input id="today" type="date" name="date" value="{{today}}">
  </div>

  <div>
    <label for="type">Type</label>
    <select name="type" id="type">
      <option value="debit" selected>Debit</option>
      <option value="credit">Credit</option>
    </select>
  </div>

  <div>
    <label for="category">Category</label>
    <select name="category" id="category">
      <option value="Uncategorized" selected >Uncategorized</option>
      {{#each category}}
      <option value="{{this}}">{{this}}</option>
      {{/each}}
    </select>
    <input type="text" name="tags" placeholder="Add tags">
    <input type="text" name="notes" placeholder="Some notes">
    <button type="submit">Save</button>
  </div>
  {{!-- <div id="numbers-grid">
    <div class="btn btn-light waves-effect">
      <h3>1</h3>
    </div>
    <div class="btn btn-light waves-effect">
      <h3>2</h3>
    </div>
    <div class="btn btn-light waves-effect">
      <h3>3</h3>
    </div>
    <div class="btn btn-light waves-effect">
      <h3>4</h3>
    </div>
    <div class="btn btn-light waves-effect">
      <h3>5</h3>
    </div>
    <div class="btn btn-light waves-effect">
      <h3>6</h3>
    </div>
    <div class="btn btn-light waves-effect">
      <h3>7</h3>
    </div>
    <div class="btn btn-light waves-effect">
      <h3>8</h3>
    </div>
    <div class="btn btn-light waves-effect">
      <h3>9</h3>
    </div>
    <div class="btn btn-light waves-effect">
    </div>
    <div class="btn btn-light waves-effect">
      <h3>0</h3>
    </div>
    <div class="btn btn-light waves-effect">
    </div>
  </div> --}}
</form>