<h1>Edit Transaction</h1>

<form id="form" class="form" action="/add-transaction" method="POST">
  <div class="quantity">

    <input required type="text" name="amount" placeholder="{{transaction.amount}}">
  </div>

  <div>
    <label for="account">Choose account ></label>
    <select name="account" id="account">
      <option value=""> </option>
  </div>

  <div>
    <input required type="text" name="merchant" placeholder="{{transaction.merchant}}">
    <input value="date" type="date" name="date">{{transaction.date}}
  </div>

  <div>
    <label for="category">Category ></label>
    <select name="category" id="category">
      <option value="category" selected>{{transaction.category}}</option>
      {{#each value}}
      <option value="">{{this}}</option>
      {{/each}}
    </select>
    <input type="text" name="tags" placeholder="{{transaction.tags}}">
    <input type="text" name="notes" placeholder="{{transaction.notes}}">
    <button type="submit">Save</button>
  </div>

</form>