{{!-- we need to have enctype="multipart/form-data" and input type="file" --}}

<h1>Profile</h1>

<form action="/profile/update" method="post" enctype="multipart/form-data">

<h2>{{user.username}}' Profile</h2>

<div class="name">
    <div>
      <label for="firstName">First name</label><br>
      <input required value="{{user.firstName}}" type="text" name="firstName" placeholder="First name">
    </div>

    <div>
      <label for="lastName">Last name</label><br>
      <input required value="{{user.lastName}}" type="text" name="lastName" placeholder="Last name">
    </div>
  </div>

  <label for="email">Email</label><br>
  <input required value="{{user.email}}" type="email" name="email" placeholder="email@example.com">

  {{!-- <label for="password">Password</label><br>
  <input required value="" type="password" name="password" placeholder="********"> --}}

  {{#if errorMessage}}
  <div class="error-message">{{ errorMessage }}</div>
  {{/if}}

  <label for="imageUrl">Profile Picture</label>
  <input id="imageUrl" type="file" name="imageUrl">

  <button type="submit">Update</button>

</form>
