<form action="/accounts/{{account._id}}/update" method="POST">
<label for="accName">Account Name: </label>
      <input required type="text" name="accName" value="{{account.accName}}">
<label for="accBalance">Account Balance: </label>
      <label>$ {{account.accBalance}} </label>
      {{!-- <input required type="text" name="accBalance" value="{{account.accBalance}}"> --}}
<button type="submit">Save Changes </button>      
</form>

<div class="container">
  <h1>Account Transactions</h1>   <br>                                                                            
 
   <table id="example" class="table table-striped table-bordered" style="width:100%">
        <thead>
            <tr>
                <th>Name</th>
                <th>Date</th>
                <th>Amount</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
               {{#each transaction}}
            <tr>
                <td><a href="/transactions/{{this._id}}">{{this.merchant}}</a></td>
                <td>{{this.dateParsed}}</td>
                <td>{{this.amount}}</td>
                <td>  <form action="/transaction/{{this._id}}/delete" method="POST">
    <button type="submit">
      Delete
    </button>
  </form></td>
                
      
            </tr>
            {{/each}}
                    </tbody>
    </table>
 <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
<script src="/javascripts/dataTable.js"></script>

